*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    width: 450px;
}


h1 {
    margin:15px;
    font-size: 30px;
    width: 450px;
    text-align: center;
}

main {
    /* background-color: aqua; */
    width: 450px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.list {
    width: 400px;
    padding-inline-start:0;
}

.item {
    text-align: end;
}

.input {
    font-size: 16px;
    width: 60px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
footer {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: rgba(22, 148, 20, 0.596);
    width: 425px;
    height: 50px;
    font-weight: 400;
    font-size: larger;
    color: white;
    border: 0;
    border-radius: 5px;
    
}
/* footer>div{
    background-color: rgba(71, 147, 70, 0.596);
} */
.subtotal,
.impuestos,
.total {
    padding: 10px;
    font-size: 20px;
}